@font-face {
  font-family: 'Rubik Regular';
  src: url('/src/fonts/Rubik-Regular.ttf');
}
:root{
  --borderRadius:5px;
  --border:1px solid rgb(226, 209, 176);
}
body {
  margin: 0;
  font-family: 'Rubik Regular';
  line-height: 1.2em;
}

